@model JobPortal.Models.CompanyInsert
@{
    ViewBag.Title = "CompanyInsert_PageLoad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Company Registration</h2>
<div>
    @using (Html.BeginForm("CompanyInsert_Click", "CompanyReg", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            <label>Company Name:</label>
        </div>
        <div>
            @Html.TextBoxFor(m => m.name)
            @Html.ValidationMessageFor(m => m.name)
        </div>
        <div>
            <label>Address:</label>
        </div>
        <div>
            @Html.TextAreaFor(m => m.address)
            @Html.ValidationMessageFor(m => m.name)
        </div>
        <div>
            <label>Phone:</label>
        </div>
        <div>
            @Html.TextBoxFor(m => m.phone)
            @Html.ValidationMessageFor(m => m.phone)
        </div>
        <div>
            <label>E-Mail:</label>
        </div>
        <div>
            @Html.TextBoxFor(m => m.email)
            @Html.ValidationMessageFor(m => m.email)
        </div>
        <div>
            <label>Website:</label>
        </div>
        <div>
            @Html.TextBoxFor(m => m.website)
            @Html.ValidationMessageFor(m => m.website)
        </div>
        <div>
            <label>Photo:</label>
        </div>
        <div>
            @Html.TextBox("file", "", new { Type = "file" })
        </div>
        <div>
            <label>Username:</label>
        </div>
        <div>
            @Html.TextBoxFor(m => m.username)
            @Html.ValidationMessageFor(m => m.username)
        </div>
        <div>
            <label>Password:</label>
        </div>
        <div>
            @Html.PasswordFor(m => m.password)
        </div>
        <div>
            <label>Confirm Password:</label>
        </div>
        <div>
            @Html.PasswordFor(m => m.cpass)
            @Html.ValidationMessageFor(m => m.cpass)
        </div>
        <div>
            <input type="submit" value="Insert" />
            @Html.DisplayFor(m => m.adminmsg)
        </div>
    }
</div>

