@model IEnumerable<JobPortal.Models.AdminDash>
@{
    ViewBag.Title = "Admin_PageLoad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Available Jobs</h2>
<p>
    @Html.ActionLink("Create New", "Create") | @Html.ActionLink("Show Archived", "ShowArchived")
</p>
<div>
    @using (Html.BeginForm("Admin_PageLoad", "AdminDash", FormMethod.Get))
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.jobTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.jobDesc)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.jobSal)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.jobLoc)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.jobExp)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.jobSkills)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.jobType)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.jobVac)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.status)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.startDate)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.endDate)
                </th>
            </tr>

            @foreach (var item in ViewBag.Job)
            {

                <tr>
                    <td>@item.Job_Title</td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.Salary
                    </td>
                    <td>
                        @item.Location
                    </td>
                    <td>
                        @item.Experience_years
                    </td>
                    <td>
                        @item.Skills
                    </td>
                    <td>
                        @item.Job_Type
                    </td>
                    <td>
                        @item.Vacancies
                    </td>
                    <td>
                        @item.Job_Status
                    </td>
                    <td>
                        @item.Start_Date.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @item.End_Date.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Job_Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Job_Id }) |
                        <a href="#" onclick="confirmArchive(@item.Job_Id)">Archive</a>
                        @*@Html.ActionLink("Archive", "Archive", new { id = item.Job_Id })*@
                    </td>
                </tr>
            }
        </table>

    }
</div>
<script>
    function confirmArchive(jobId) {
        var conf = confirm("Are you sure you want to archive this job?");
        if (conf) {
            window.location.href = "/AdminDash/Archive/" + jobId;
        }
    }
</script>

